body {
  margin auto;
  height: 100%;
  /* background: black; */
  background-image: linear-gradient(-45deg, #000, #414141);
  font-family: 'Roboto Thin', sans-serif;
  color: #dddddd;
  font-size: 11pt;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

#fisher {
  font-weight: bold;
}

.heading,
.social {
  height: 40vh;
}

.menu {
  height: 20vh;
  font-size: 2rem;

}

.menu a {
  color: #dddddd;
}

.social i {
  font-size: 2.5rem;
  color: #dddddd;
}

.carousel-item a {
  text-decoration: none;
}

.carousel-item a:hover {
  color: #B0B0B0;
}

.nav-item a:hover {
  color: #B0B0B0;
}

.page {
  background-color: white;
  margin-top: 50px;
  border-radius: 0px 15px 0px 0px;
  color: black;
}

.main-content {
  height: 100vh;
}

.page-padding-top {
  padding-left: 20px 0px 20px 0px;
}

.page-title{
  text-align: left;
}
